version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_PATH=/app/node_modules
    volumes:
      - ./docker-mount:/app/docker-mount
      - /app/docker-mount/node_modules